@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #080808;
}

.fade-blur::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #080808, transparent);
}
